.game-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    .container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        border: solid 2px white;
        border-radius: 20px;
        margin-top: 7%;
    }

    .inputContainer {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-around;

    }

    .input {
        font-size: 3rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 5%;
        margin: 2%;
        width: 100%;
        border: solid 2px white;
        border-radius: 20px;

    }

}
