.instructions-component {
    display: flex;
    background:rgba(0,0,0,0.75);
    font-size: 1.0rem;
    flex-flow: column nowrap;
    align-items: center;
    width: 18vw;
    margin-top: 20vh;
    height: 60vh;
    border: solid white 2px;
    border-radius: 20px;
    overflow: scroll;

    p {
        width: 15vw;
    }

    @media @phone-down {
    height: 30vh;
    h3 {
        font-size: 1rem;
    }
};

}


img {
    margin-bottom: 5vh;
    width: 7vw;
}
