.instructions-component {
    display: flex;
    font-size: 1.5rem;
    flex-flow: column nowrap;
    align-items: center;
    width: 240px;
    height: 45vh;
    margin-top: 14%;
    margin-left: 3%;
    border: solid white 2px;
    border-radius: 20px;
    overflow: scroll;

}
