.landingPage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.landingPage .container {
  margin-top: 7%;
  height: 400px;
}
.landingPage .modeButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 30%;
  margin-top: 5%;
}
.landingPage .modeButtons .button {
  font-size: 1rem;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 20px;
}
.game-page {
  width: 100vw;
  padding-bottom: 5%;
}
.game-page .btn {
  border: none;
  background: none;
  color: white;
  margin-bottom: 25%;
  margin-top: 25%;
  outline-color: white !important;
  outline-width: thin;
}
.game-page .btn:hover {
  color: grey;
}
.game-page .container-1 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.game-page .container-2 {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.game-page .subContainer {
  margin-top: 10%;
  margin-left: 5%;
  width: 250px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 50vh;
}
.game-page .container-3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 40vw;
  height: 70vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  border-radius: 20px;
  margin-top: 15vh;
  border: solid 2px white;
}
.game-page .container-4 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.game-page .inputDiv {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 10vw;
}
.game-page .inputContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
}
.game-page .input {
  font-size: 3rem;
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  flex-flow: column wrap;
  align-items: center;
  padding: 10% !important;
  padding-top: 30% !important;
  padding-bottom: 30% !important;
  margin: 2%;
  width: 50%;
  border: solid 2px white;
  border-radius: 20px;
}
@media (max-width: 700px) {
  .game-page .input {
    font-size: 1.5rem;
  }
}
.history-component {
  display: flex;
  font-size: 1.5rem;
  flex-flow: column nowrap;
  align-items: center;
  width: 18vw;
  height: 50vh;
  margin-top: 20%;
  margin-left: -22% !important;
  border: solid white 2px;
  margin-left: 50%;
  border-radius: 20px;
  overflow: scroll;
}
.history-component .header {
  font-size: 1.25rem;
}
.history-component .guess {
  font-size: 3rem;
  margin: 0;
}
@media (max-width: 700px) {
  .history-component .guess {
    font-size: 2.5rem;
  }
}
.history-component .historyContainer {
  min-height: 28vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: solid white 2px;
  margin-bottom: 5%;
}
.history-component .historyContainer h6 {
  font-size: 1rem;
  width: 5vw;
  margin: 0 !important;
  padding: 0;
}
.history-component .historyContainer .hint {
  font-size: 0.95rem;
  width: 15vw;
}
@media (max-width: 700px) {
  .history-component .historyContainer .hint {
    font-size: 0.75rem;
  }
}
.history-component .norse {
  font-size: 2rem;
}
.instructions-component {
  display: flex;
  font-size: 1.5rem;
  flex-flow: column nowrap;
  align-items: center;
  width: 240px;
  height: 42vh;
  margin-top: 14%;
  margin-left: 3%;
  border: solid white 2px;
  border-radius: 20px;
  overflow: scroll;
}
.win-component {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.win-component img {
  max-width: 300px;
  max-height: 100px;
}
.win-component p {
  width: 20vw;
}
